body {
    height: 100vh;
    font-family: 'Ubuntu', sans-serif, 'Verdana';
    font-size: 14px;
    background: center / cover no-repeat url('../img/background.png');
}

.d-flex-sp-btw-cntr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/***** Header *****/

.header-area {
    width: 100vw;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
}
.header-nav {
    width: 1210px;
    height: 100%;
    margin: 0 auto;
    color: #FFF;
}

.logo {
    font-weight: 700;
    font-size: 22px;
}

.header-icons {
    width: 121px;
}

.header-vertical-line {
    width: 1px;
    height: 19px;
    margin-left: 27px;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.header-registration-links {
    margin-left: 27px;
}

.header-registration-links a {
    color: #FFF;
}

.logo:hover,
.logo:focus,
.log-in span:hover,
.log-in span:focus,
.sign-up span:hover,
.sign-up span:focus {
    color: #3CB878;
    cursor: pointer;
    transition: color 0.5s 0.2s;
}

.icon-link:hover  path,
.icon-link:focus  path { 
    fill: #3CB878;
    transition: fill 0.5s 0.2s;
}


/***** Sign up form *****/

.sign-up-form {
    position: absolute;
    width: 444px;
    height: 584px;
    left: calc(50% - 444px/2);
    top: calc(50% - 584px/2 + 29px);
    background-color: #FFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    
}

.form-container {
 width: 324px;
 margin: 31px auto 38px;
}

.form-container::before {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background-color: #3CB878;
}

.wrapper-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 13px;
}
.sign-up-form-title {
    font-size: 20px;
    color: #434343;
}

.log-in-link,
.terms-conditions-link {
    color: #3CB878;
}

.terms-conditions-link {
    margin-left: 3px;
}

.log-in-link:hover,
.log-in-link:focus,
.terms-conditions-link:hover,
.terms-conditions-link:focus {
    color: #01813F;
    transition: all 0.5s 0.2s;
}

.log-in-link:hover,
.log-in-link:focus {
    text-decoration: underline;
}

.terms-conditions-link:hover,
.terms-conditions-link:focus {
    border-bottom: 1.5px solid #01813F;
}

.wrapper-registr-logos,
.wrapper-line-or-line {
    width: 100%;
}

.btn-facebook,
.btn-google {
    width: 157px;
    height: 46px;
    margin-bottom: 34px;
    border-radius: 3px;
    font-size: 16px;
    color: #FFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-fcbk-vertical-line,
.logo-ggl-vertical-line {
    width: 1px;
    height: 28px;
    opacity: 0.1;
}

.btn-facebook {
    background-color: #305DB8;
}

.btn-facebook:hover,
.btn-facebook:focus {
    background-color: #022263;
    transition: background-color 0.5s 0.2s;
}

.btn-google {
    background-color: #DF4A32;
}

.btn-google:hover,
.btn-google:focus {
    background-color: #AB1F09;
    transition: background-color 0.5s 0.2s;
}       

.icon-facebook,
.icon-google {
    margin-left: 10px;
}

.logo-fcbk-vertical-line {
    margin: 0 18px 0 13px;
    background-color: #0A162F;
}

.logo-ggl-vertical-line {
    margin: 0 30px 0 7px;
    background-color: #2B0D09;
}

.or {
    margin-bottom: 12px;
    color: #848484;
}

.or::after,
.or::before {
    content: "";
    display: inline-block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
}

.or::before {
    margin: 0 3px 3px 0;
}

.or::after {
    margin: 0 0 3px 3px;
}

.input-block-wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-bottom: 12px;
}

input:not(:last-child) {
    margin-bottom: 15px;
}

input[type=text],
input[type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: 14px 20px;
    display: inline-block;
    font-size: 14px;
    color: #434343;
    background-color: #FFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

input[type=text]:active,
input[type=password]:active,
input[type=text]:focus,
input[type=password]:focus {
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

::placeholder {
    font-size: 14px;
    color: #BEBEBE;
}

.custom-checkbox {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-bottom: 20px;
    color: #434343;
}

.custom-checkbox-block {
    width: 14px;
    height: 13.5px;
    margin-right: 8px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    cursor:pointer;
  }
  
.checkbox-default {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
  
.checkbox-default:checked + .custom-checkbox-block {
    background: center/contain no-repeat url("../img/icons/Arrow.svg");
}

.create-account-btn {
    width: 100%;
    padding: 14px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.create-account-btn:hover,
.create-account-btn:focus {
    background-color: #01813F;
    transition: background-color 0.5s 0.2s;
}
